Repository dunglechi/hr-profiling-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

sdlc-4-7-document-naming:
  name: SDLC 4.7 Document Naming
  entry: python .sdlc/scripts/validate_naming.py
  language: system

sdlc-4-7-zero-mock:
  name: SDLC 4.7 Zero Mock Policy
  entry: python .sdlc/scripts/validate_no_mocks.py
  language: system

sdlc-4-7-headers:
  name: SDLC 4.7 Documentation Headers
  entry: python .sdlc/scripts/validate_headers.py
  language: system

IT ESCALATION ACTIVE: HTTP blocked, backend unverifiable - detailed firewall analysis and CTO status acknowledgment
  CV filltering/CTO-HTTP-BLOCKING-STATUS.md
  CV filltering/IT-ESCALATION-REPORT.md
  CV filltering/NETWORK-DEBUG-PROTOCOL.md
  CV filltering/NETWORK-DEBUG-RESULTS.md
  CV filltering/NEXT-SESSION-PRIORITY.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

PRE-RESTART: Firewall rules configured (Python_Dunglc all profiles) - restart required to apply changes
  CV filltering/PRE-RESTART-STATUS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

PRE-RESTART: Windows networking stack issue identified - systematic debugging complete, ready for system restart
  CV filltering/POST-LOCALHOST-FIX-RESULTS.md
  CV filltering/POST-RESTART-ANALYSIS.md
  CV filltering/PRE-SYSTEM-RESTART-STATUS.md
  CV filltering/SYSTEMATIC-DEBUG-RESULTS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

POST-RESTART PROTOCOL: CTO directive acknowledged - no status promotion until HTTP 200 confirmed
  CV filltering/POST-RESTART-TESTING-PROTOCOL.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

POST-RESTART RESULTS: HTTP still blocked, Winsock reset required - captured full logs as evidence
  CV filltering/POST-RESTART-ANALYSIS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

PRE-SECOND-REBOOT: Networking stack still corrupted after first restart - user initiating second reboot
  CV filltering/PRE-SECOND-REBOOT-STATUS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

BREAKTHROUGH: Winsock reset partial success - HTTP server works, Flask blocked by security software
  CV filltering/LAPTOP-SECURITY-ANALYSIS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

MAJOR UPDATE: CTO report with documented Windows Defender breakthrough evidence
  CV filltering/BREAKTHROUGH-EVIDENCE-LOG.md
  CV filltering/CTO-DEMO-REPORT-UPDATED.md
  CV filltering/WINDOWS-DEFENDER-BREAKTHROUGH.md
  CV filltering/WINDOWS-DEFENDER-EXCLUSION-GUIDE.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

API FIXES + CRITICAL INFRASTRUCTURE DISCOVERY
  CV filltering/CRITICAL-STATUS-UPDATE.md
  CV filltering/DEFENDER-ENABLED-TEST-RESULTS.md
  CV filltering/EXCLUSIONS-TEST-STATUS.md
  CV filltering/IMMEDIATE-ACTION-REQUIRED.md
  CV filltering/TCP-LOOPBACK-BLOCKED.md
  CV filltering/backend/src/app.py
  CV filltering/backend/src/routes/__pycache__/numerology_routes.cpython-313.pyc
  CV filltering/backend/src/routes/numerology_routes.py
  CV filltering/debug_numerology.py
  CV filltering/minimal_flask_test.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

chore(requirements): add pandas to backend requirements (fix runtime import)
  CV filltering/backend/requirements.txt
Due: none

chore(repo): move logs to docs/debug-logs and ignore them
  CV filltering/.gitignore
  CV filltering/docs/debug-logs/BREAKTHROUGH-EVIDENCE-LOG.md
  CV filltering/docs/debug-logs/CRITICAL-STATUS-UPDATE.md
  CV filltering/docs/debug-logs/CTO-HTTP-BLOCKING-STATUS.md
  CV filltering/docs/debug-logs/DEFENDER-ENABLED-TEST-RESULTS.md
  CV filltering/docs/debug-logs/ENABLE-DEFENDER-REQUIRED.md
  CV filltering/docs/debug-logs/EXCLUSIONS-TEST-STATUS.md
  CV filltering/docs/debug-logs/FLASK-BINDING-DEBUG.md
  CV filltering/docs/debug-logs/HONEST-STATUS-REPORT.md
  CV filltering/docs/debug-logs/IMMEDIATE-ACTION-REQUIRED.md
  CV filltering/docs/debug-logs/LAPTOP-SECURITY-ANALYSIS.md
  CV filltering/docs/debug-logs/NETWORK-DEBUG-PROTOCOL.md
  CV filltering/docs/debug-logs/NETWORK-DEBUG-RESULTS.md
  CV filltering/docs/debug-logs/POST-LOCALHOST-FIX-RESULTS.md
  CV filltering/docs/debug-logs/POST-RESTART-ANALYSIS.md
  CV filltering/docs/debug-logs/PRE-RESTART-STATUS.md
  CV filltering/docs/debug-logs/PRE-SECOND-REBOOT-STATUS.md
  CV filltering/docs/debug-logs/PRE-SYSTEM-RESTART-STATUS.md
  CV filltering/docs/debug-logs/REAL-HTTP-TEST-EVIDENCE.md
  CV filltering/docs/debug-logs/SYSTEMATIC-DEBUG-RESULTS.md
  CV filltering/docs/debug-logs/TCP-LOOPBACK-BLOCKED.md
  CV filltering/docs/debug-logs/WINDOWS-DEFENDER-BREAKTHROUGH.md
  CV filltering/docs/debug-logs/WINDOWS-DEFENDER-EXCLUSION-GUIDE.md
  CV filltering/docs/debug-logs/debug_numerology.py
  CV filltering/docs/debug-logs/minimal_flask_test.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

test(functional): add functional check logs
  CV filltering/docs/debug-logs/func_disc_manual.20251017-171354.txt
  CV filltering/docs/debug-logs/func_disc_test.20251017-171354.txt
  CV filltering/docs/debug-logs/func_numerology_full.20251017-171354.txt
  CV filltering/docs/debug-logs/func_numerology_missing.20251017-171354.txt
  CV filltering/docs/debug-logs/functional-checks.20251017-171354.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

test(functional): numerology calculate pass with corrected payload; update CTO report
  CV filltering/docs/debug-logs/CTO-HTTP-BLOCKING-STATUS.md
  CV filltering/docs/debug-logs/func_numerology_full_corrected.20251017-172633.txt
  CV filltering/docs/debug-logs/functional-checks.20251017-171354.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

docs(test): annotate failed run and add functional test script
  CV filltering/docs/debug-logs/functional-checks.20251017-171354.md
  CV filltering/tools/run-functional-tests.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

ci(functional): add GitHub Actions workflow to run functional tests and upload logs
  CV filltering/.github/workflows/functional-tests.yml
Due: none

ci(functional): increase health wait to 60s and dump server logs on timeout
  CV filltering/.github/workflows/functional-tests.yml
Due: none

chore: save workspace before shutdown
  CV filltering/BREAKTHROUGH-EVIDENCE-LOG.md
  CV filltering/CRITICAL-STATUS-UPDATE.md
  CV filltering/CTO-HTTP-BLOCKING-STATUS.md
  CV filltering/DEFENDER-ENABLED-TEST-RESULTS.md
  CV filltering/EXCLUSIONS-TEST-STATUS.md
  CV filltering/HONEST-STATUS-REPORT.md
  CV filltering/IMMEDIATE-ACTION-REQUIRED.md
  CV filltering/LAPTOP-SECURITY-ANALYSIS.md
  CV filltering/NETWORK-DEBUG-PROTOCOL.md
  CV filltering/NETWORK-DEBUG-RESULTS.md
  CV filltering/POST-LOCALHOST-FIX-RESULTS.md
  CV filltering/POST-RESTART-ANALYSIS.md
  CV filltering/PRE-RESTART-STATUS.md
  CV filltering/PRE-SECOND-REBOOT-STATUS.md
  CV filltering/PRE-SYSTEM-RESTART-STATUS.md
  CV filltering/SYSTEMATIC-DEBUG-RESULTS.md
  CV filltering/TCP-LOOPBACK-BLOCKED.md
  CV filltering/WINDOWS-DEFENDER-BREAKTHROUGH.md
  CV filltering/WINDOWS-DEFENDER-EXCLUSION-GUIDE.md
  CV filltering/backend/src/__pycache__/app.cpython-313.pyc
  CV filltering/backend/src/app.py
  CV filltering/backend/src/minimal_test.py
  CV filltering/backend/src/test_no_imports.py
  CV filltering/debug_numerology.py
  CV filltering/minimal_flask_test.py
  WEEK_2_CTO_DIRECTIVES.md
  WEEK_2_KICKOFF.md
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

docs: add summary-for-cto
  CV filltering/docs/debug-logs/summary-for-cto.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

docs: add CTO briefing 2025-10-17
  CV filltering/docs/CTO-BRIEFING-2025-10-17.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

feat: implement Gemini-powered CV parsing with fallback
  CV filltering/.gitignore
  CV filltering/README.md
  CV filltering/backend/.env.example
  CV filltering/backend/src/__tests__/test_cv_parsing_service.py
  CV filltering/backend/src/app.py
  CV filltering/backend/src/routes/cv_parsing_routes.py
  CV filltering/backend/src/services/cv_parsing_service.py
  CV filltering/docs/debug-logs.zip
  CV filltering/tests/sample_cv.pdf
  CV filltering/tools/run-functional-tests.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

feat(parser): validate gemini parsing and log evidence
  CV filltering/backend/src/__tests__/test_real_gemini_call.py
  CV filltering/docs/CTO-BRIEFING-2025-10-17.md
  CV filltering/docs/debug-logs/summary-for-cto.md
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

feat(disc): implement csv upload endpoint and tests
  CV filltering/README.md
  CV filltering/backend/.env.example
  CV filltering/backend/src/__tests__/test_disc_pipeline.py
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/backend/src/services/__pycache__/disc_pipeline.cpython-313.pyc
  CV filltering/backend/src/services/disc_pipeline.py
  CV filltering/docs/CTO-BRIEFING-2025-10-17.md
  CV filltering/docs/debug-logs/summary-for-cto.md
  CV filltering/tests/sample_disc.csv
  CV filltering/tools/run-functional-tests.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

feat(disc): add ocr upload stub endpoint and tests
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/backend/src/services/__pycache__/disc_pipeline.cpython-313.pyc
  CV filltering/backend/src/services/disc_pipeline.py
  CV filltering/docs/CTO-BRIEFING-2025-10-17.md
  CV filltering/docs/debug-logs/summary-for-cto.md
  CV filltering/tests/sample_disc_survey.png
  CV filltering/tools/run-functional-tests.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

feat(db): add stubbed supabase integration and tests
  CV filltering/README.md
  CV filltering/backend/.env.example
  CV filltering/backend/src/__tests__/test_database_service.py
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/cv_parsing_routes.py
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/backend/src/services/database_service.py
  CV filltering/docs/CTO-BRIEFING-2025-10-17.md
  CV filltering/docs/db-schema.sql
  CV filltering/docs/debug-logs/summary-for-cto.md
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

feat(frontend): connect useCVParsing to real API
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/frontend/src/hooks/useCVParsing.ts
  CV filltering/frontend/src/services/api.ts
  CV filltering/frontend/src/styles/ResultsDisplay.module.css
  CV filltering/frontend/src/types/cv.ts
  CV filltering/frontend/src/types/index.ts
Due: sdlc-4-7-zero-mock

feat(frontend): connect DISC upload and fix build errors
  CV filltering/docs/debug-logs/summary-for-cto.md
  CV filltering/frontend/src/hooks/useDiscCsvUpload.ts
  CV filltering/frontend/src/styles/DISCAssessment.module.css
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

Update backend structure and fix routing issues
  CV filltering/backend/src/__init__.py
  CV filltering/backend/src/__pycache__/app.cpython-313.pyc
  CV filltering/backend/src/app.py
  CV filltering/backend/src/models/__init__.py
  CV filltering/backend/src/routes/__init__.py
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/__pycache__/numerology_routes.cpython-313.pyc
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/backend/src/routes/numerology_routes.py
  CV filltering/backend/src/services/__init__.py
Due: sdlc-4-7-zero-mock

Add docs/archive to gitignore to clean up git status
  CV filltering/.gitignore
Due: none

Complete restructure verification: fix routing, update tests, clean git status
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/cv_parsing_routes.py
  CV filltering/backend/src/routes/cv_parsing_routes_backup.py
Due: sdlc-4-7-zero-mock

COMPLETE: Fix unit tests, verify UI integration, production-ready
  CV filltering/backend/src/__tests__/test_cv_parsing_service.py
  CV filltering/docs/debug-logs/summary-for-cto.md
  CV filltering/tools/run-functional-tests.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

[CTO PRIORITY #1] Backend Core Refactor - All 4 Tasks Complete
  CV filltering/backend/src/routes/cv_parsing_routes.py
  CV filltering/backend/src/routes/disc_routes_corrupted.py
  CV filltering/backend/src/routes/disc_routes_current.py
  CV filltering/backend/src/services/disc_pipeline.py
Due: sdlc-4-7-zero-mock

feat: Complete Priority #2 - Real Supabase Integration Foundation
  CV filltering/.env.example
  CV filltering/.gitignore
  CV filltering/backend/src/routes/cv_parsing_routes.py
  CV filltering/backend/src/routes/cv_parsing_routes_backup.py
  CV filltering/backend/src/services/database_service.py
  CV filltering/backend/src/services/disc_pipeline.py
  CV filltering/backend/src/services/disc_pipeline_backup.py
  CV filltering/backend/src/services/numerology_service_backup.py
  CV filltering/docs/SUPABASE_SETUP.md
  CV filltering/docs/supabase-schema.sql
  CV filltering/test-supabase-integration.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

docs: Add comprehensive Priority #2 status report for CTO
  CV filltering/docs/PRIORITY-2-STATUS-REPORT.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

docs: Add quick status summary for CTO
  CV filltering/docs/PRIORITY-2-QUICK-STATUS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

refactor: Improve DISC pipeline code quality and consistency
  CV filltering/backend/src/routes/__pycache__/disc_routes.cpython-313.pyc
  CV filltering/backend/src/routes/disc_routes.py
  CV filltering/backend/src/services/__pycache__/disc_pipeline.cpython-313.pyc
  CV filltering/backend/src/services/disc_pipeline.py
  CV filltering/test-disc-improvements.py
Due: sdlc-4-7-zero-mock

docs: Add code quality improvements documentation
  CV filltering/docs/CODE-QUALITY-IMPROVEMENTS.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

docs: Final status confirmation - Ready for testing phase
  CV filltering/docs/READY-FOR-TESTING.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

feat: Configure Supabase credentials and add setup helpers
  CV filltering/QUICK-START-SUPABASE.md
  CV filltering/check-supabase-tables.py
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

docs: Verify CV data flow correctness (Gemini review)
  CV filltering/docs/DATA-FLOW-VERIFICATION.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

config: Add TESSERACT_CONFIG and DISC_CSV_MAX_ROWS to .env.example
  CV filltering/.env.example
Due: none

Path conditions:
  sdlc-4-7-document-naming: any of: \.md$
  sdlc-4-7-zero-mock: any of: \.(ts|js|py)$
  sdlc-4-7-headers: any of: \.md$
