Repository dunglechi/hr-profiling-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

sdlc-4-7-document-naming:
  name: SDLC 4.7 Document Naming
  entry: python .sdlc/scripts/validate_naming.py
  language: system

sdlc-4-7-zero-mock:
  name: SDLC 4.7 Zero Mock Policy
  entry: python .sdlc/scripts/validate_no_mocks.py
  language: system

sdlc-4-7-headers:
  name: SDLC 4.7 Documentation Headers
  entry: python .sdlc/scripts/validate_headers.py
  language: system

feat: Complete UI/UX enhancement with modern design and smart input optimization
  docs/03-Development-Implementation/UI-UX-Enhancement-Report.md
  docs/03-Development-Implementation/UI-UX-Showcase.md
  frontend/enhanced-ui-demo.html
  frontend/src/App.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/enhanced/EnhancedLayout.tsx
  frontend/src/components/enhanced/EnhancedNumerologyApp.tsx
  frontend/src/components/enhanced/EnhancedNumerologyDisplay.tsx
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx
  frontend/src/components/enhanced/SimpleEnhancedForm.tsx
  frontend/src/components/enhanced/SimpleTestApp.tsx
  frontend/src/components/enhanced/SmartInputSystem.tsx
  frontend/src/pages/EnhancedApp.tsx
  frontend/src/types/numerology.ts
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

Fix Vercel deployment config - Remove conflicting functions property
  vercel.json
Due: none

Fix Vercel deployment - Update config for monorepo structure
  .vercelignore
  frontend/package.json
  vercel.json
Due: none

Final Vercel deployment fix - Root level build configuration
  package.json
  prepare-vercel.sh
  vercel.json
Due: none

Fix build errors - Copy tsconfig.node.json, fix vite config, disable typecheck for deployment
  package.json
  tsconfig.node.json
  vite.config.ts
Due: sdlc-4-7-zero-mock

[VERCEL-RESET] Force new deployment configuration - No frontend subdirectory
  .vercelignore
  frontend/src/components/enhanced/EnhancedNumerologyApp.tsx
  vercel.json
Due: none

Trigger redeploy after environment variables setup
  README.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

Force deployment with environment variables
  .deployment-trigger
Due: none

CRITICAL FIX: Change REACT_APP_ to VITE_ environment variables in supabase.ts
  .env.production
  src/lib/supabase.ts
Due: sdlc-4-7-zero-mock

Sync Vercel configuration - trigger new deployment
  .deployment-trigger
Due: none

FIX UI: Replace translation placeholders with Vietnamese text in Numerology form
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx
Due: none

FIX INPUT: Fix name input handling and remove translation dependencies
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx
Due: none

CACHE BUST: Force fresh deployment
  .deployment-trigger
Due: none

FIX CALCULATION: Replace broken hook with mock numerology calculation
  frontend/src/components/enhanced/EnhancedNumerologyApp.tsx
Due: none

FORCE CACHE CLEAR: Update production env with timestamp
  frontend/.env.production
Due: none

FIX UX: Remove autocomplete suggestions and fix async calculation logic
  frontend/src/components/enhanced/EnhancedNumerologyApp.tsx
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx
Due: none

COMPLETE REWRITE: Working Simple Components - Dashboard, Numerology, DISC, MBTI all functional locally
  frontend/src/App.tsx
  frontend/src/components/SimpleDISC.tsx
  frontend/src/components/SimpleDashboard.tsx
  frontend/src/components/SimpleMBTI.tsx
  frontend/src/components/SimpleNumerology.tsx
Due: none

CLEANUP: Fix unused variables and complete Simple components - All 3 assessments working locally
  frontend/src/components/SimpleDISC.tsx
  frontend/src/components/SimpleDashboard.tsx
  frontend/src/components/SimpleRecentActivity.tsx
  frontend/src/components/enhanced/EnhancedNumerologyApp.tsx
Due: none

ELIMINATE AUTOCOMPLETE: Force redirect enhanced routes + cache bust - NO MORE SUGGESTIONS!
  frontend/.env.production
  frontend/src/App.tsx
Due: none

FINAL KILL: Replace EnhancedNumerologyForm with redirect - ZERO AUTOCOMPLETE GUARANTEED
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx
  frontend/src/components/enhanced/EnhancedNumerologyForm.tsx.backup
Due: none

FIX UI: Remove i18n from NavigationHeader - Pure Vietnamese text
  frontend/src/components/ui/NavigationHeader.tsx
Due: none

CRITICAL FIXES: Disable autocomplete + Fix Vite env vars for Supabase (fixes 404)
  frontend/src/components/SimpleNumerology.tsx
  frontend/src/lib/supabase.ts
Due: sdlc-4-7-zero-mock

TRIGGER REDEPLOY: Apply Vercel env vars + restore LanguageSwitcher
  frontend/src/components/ui/NavigationHeader.tsx
  vercel-env-setup.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

STRATEGIC PIVOT: Enterprise SDLC Lean MVP-Focused Process
  .github/workflows/ci-cd.yml
  ARCHITECTURE_SIMPLE.md
  KANBAN_BOARD.md
  MVP_SPEC.md
  SDLC_ARCHIVED.md
  deploy.sh
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

PHASE 1 COMPLETE: Comprehensive MBTI Module with 16 Personality Types
  frontend/src/components/SimpleMBTI.tsx
  frontend/src/services/mbtiCalculator.ts
Due: sdlc-4-7-zero-mock

Production deployment: Complete HR Platform with all 7 assessment tools
  AUTONOMOUS_DEVELOPMENT_PROTOCOL.md
  PROJECT_ASSESSMENT_REPORT.md
  TESTING_EXECUTION_REPORT.md
  auto_dev.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AuthDialog.tsx
  frontend/src/components/JobMatching.tsx
  frontend/src/components/SimpleCVAnalysis.tsx
  frontend/src/components/SimpleDashboard.tsx
  frontend/src/components/SimpleMBTI.tsx
  frontend/src/components/UserProfile.tsx
  frontend/src/components/ui/NavigationHeader.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/supabase.ts
  frontend/src/services/cvAnalysisService.ts
  frontend/src/services/jobMatchingService.ts
  frontend/src/services/userService.ts
  frontend/src/utils/fileExtraction.ts
  frontend/temp-env-check.js
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

Production deployment configuration: Vercel setup và deployment guide
  DEPLOYMENT_GUIDE.md
  vercel.json
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

HARDENING COMPLETE: Production-ready platform with monitoring, fallbacks & error tracking
  database/system_metrics_table.sql
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/SentryErrorBoundary.tsx
  frontend/src/hooks/useAssessments.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/aiFallbackService.ts
  frontend/src/lib/monitoring.ts
  frontend/src/lib/supabase.ts
  frontend/src/lib/systemMonitor.ts
  frontend/src/services/cvAnalysisService.ts
Due: sdlc-4-7-zero-mock

SOFT LAUNCH PLAN: Ready for CTO approval
  SOFT_LAUNCH_PLAN.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

CTO APPROVED: Final cleanup & ready for SOFT LAUNCH
  frontend/src/components/ui/NavigationHeader.tsx
  src/components/common/LanguageSwitcher.tsx
  src/components/ui/LanguageSwitcher.tsx
Due: none

PRODUCTION DEPLOYMENT PACKAGE COMPLETE
  BETA_INVITATION_TEMPLATE.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  SUPABASE_METRICS_SETUP.sql
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

FINAL: Complete deployment package ready for CTO execution - All systems hardened and production-ready
  FINAL_DEPLOYMENT_EXECUTION.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

SESSION COMPLETE: Final summary and handover documentation
  SESSION_COMPLETION_SUMMARY.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

STRATEGIC PIVOT: Revised scope from full platform to focused screening tool - CTO review required
  CTO_EXECUTIVE_SUMMARY_REVISED.md
  REVISED_OBJECTIVES_WORKFLOW.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

WEEK 1 COMPLETE: CV Parsing PoC with Gemini AI, Numerology & Database - CTO Test Script Ready
  CTO_APPROVAL_KICKOFF.md
  cv-parsing-engine/.env.example
  cv-parsing-engine/README.md
  cv-parsing-engine/database-schema.sql
  cv-parsing-engine/index.js
  cv-parsing-engine/package-lock.json
  cv-parsing-engine/package.json
  cv-parsing-engine/quick-test-cv-parsing.js
  cv-parsing-engine/src/services/cvParsingEngine.js
  cv-parsing-engine/src/services/databaseService.js
  cv-parsing-engine/src/services/fileParserService.js
  cv-parsing-engine/src/services/numerologyService.js
  cv-parsing-engine/src/utils/logger.js
  cv-parsing-engine/test-data/sample-cv.txt
Due: sdlc-4-7-document-naming, sdlc-4-7-zero-mock, sdlc-4-7-headers

WEEK 1 COMPLETION REPORT: PoC delivered successfully for CTO review
  WEEK_1_COMPLETION_REPORT.md
Due: sdlc-4-7-document-naming, sdlc-4-7-headers

Path conditions:
  sdlc-4-7-document-naming: any of: \.md$
  sdlc-4-7-zero-mock: any of: \.(ts|js|py)$
  sdlc-4-7-headers: any of: \.md$
